.step2 h3 {
  font-family: FoundersGroteskWeb-Medium, Helvetica, Arial sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: 1.3;
  text-align: left;
}

.step2 p {
  font-family: "Lyon Text Web", Georgia, serif;
  font-size: 1.2em;
  line-height: 1.55;
  padding-bottom: 15rem;
  text-align: left;
  display: block;
}

.step2 {
  margin: 2rem auto;
  opacity: 0.2;
  display:block;
  height: 100% !important;
}

.step2.is-active {
  opacity: 1;
}

.step2 p:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid #21d279;
    border-left: 30px solid transparent;
}

#flipped-scroll {
  position: relative;
  border-top: 1px;
  border-bottom: 1px;
}

.scroll__figure2 {
  position: -webkit-sticky;
  position: sticky;
  padding-left: 20%;
  top: 0;
  bottom: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 100;
}

.scroll__figure2.is-fixed {
  position: fixed;
}

.scroll__figure2.is-bottom {
  bottom: 0;
  top: auto;
}

.chart2 {
  position: absolute;
  right: 1.5rem;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chart2 p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #666;
}

.scroll__text2 {
  position: relative;
  padding-bottom: 10rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  /*max-width: 30rem;*/
  width: 30%;
  min-width: 200px;
  /*background-color: #393745;*/
  color: #000;
  z-index: 0;
}

.breakdown_story {
  width: 80%;
  margin: auto !important;
}