<div class="page page--article">
			  <article class="article article--report">
			  	<section class="article-container">
			  		<div class="module module--article">

						<nav class="article-toolbar">
							<ul class="article-toolbar__list">
								<li class="article-toolbar__list-item">
									<h2>Data Briefs</h2>
						        </li>
						        <li class="article-toolbar__list-item">
						        	<p>Immigration in America, explained through data visualization</p>
						        </li>
						    </ul>
						</nav>	