<div>
	<div class="header1__blog">
		<a class="header1__link" href="https://www.newamericaneconomy.org" title="New American Economy" rel="home">
			<img src="assets/NAE_research_logo.png" class="header__logo">
		</a>
		<nav class="header1__nav showNav">
			
			<ul class="header1__nav-list">
				<li class="header1__nav-list-item "><a href="https://www.newamericaneconomy.org/reports/" class="header1__nav-link">Research</a></li>
				<li class="header1__nav-list-item "><a href="https://www.newamericaneconomy.org/about/" class="header1__nav-link">About</a></li>
				<li class="header1__nav-list-item ">
					<a href="https://salsa4.salsalabs.com/o/51467/donate_page/donate" class="header1__nav-link"><span style="color:#05CE7C; border-bottom: 1px solid black; display: inline-block; line-height: 1.00;">Donate</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>