<div class="breakdown_story">
	<div id="scatter-scroll">
		<div class="scroll__figure2">
			<!-- <script src="assets/scripts/scat_clust.js"></script> -->
		</div>
		<div class='scroll__text2'>
			<div class='step2' data-step='1'>
			<div style="height: 100px;">
			</div>
			</div>
		
			<div class='step2' data-step='2'>
				<h3>Immigrants entering the United States through legal channels are highly-educated.</h3>
				<p>While those with a high school education or below made up the vast majority of adult immigrants as recently as 1980, the most common level of education among the recent immigrants we studied was a bachelor’s degree, followed closely by graduate-level education.</p>
			</div>
			<div class='step2' data-step='3'>
				<h3>Recent immigrants to the United States often arrive with the STEM training U.S. employers need.</h3>
				<p>Employers in recent years have faced a dire shortage of workers with expertise in Science, Technology, Engineering, and Math (or STEM). As recently as 2016, 13 open STEM jobs were posted online for every one unemployed STEM worker. A large number of recent immigrants have degrees in these fields. </p>
			</div>
			<div class='step2' data-step='4'>
				<p>As recently as 2016, 13 open STEM jobs were posted online for every one unemployed STEM worker. A large number of recent immigrants have degrees in these fields. </p>
			</div>
			<div class='step2' data-step='5'>
				<h3>Recent immigrants often work in fields with known labor shortages.</h3>
				<p>STEM jobs are not the only ones difficult to fill. In some parts of the country struggle to find enough doctors and nurses to care for the rapidly-aging Baby Boomer population. One NAE study, for instance, found that 135 counties in the United States—often rural ones with large health challenges—lack a single active physician. Researchers also predict the United States will be short more than 900,000 nurses by 2030.</p>
			</div>
			
			<div class='step2' data-step='6'>
			<h3>
			<div style="height: 100px;">
			</div>
			</h3>
			</div>
			<div class='step2' data-step='7'>
				<h3>Newly arrived immigrants are good news for America’s engineering shortage.</h3>
				<p>In 2017, recent immigrants were almost four times more likely than the U.S.-born population to work as engineers. These more than 13,000 professionals are invaluable to U.S. employers trying to expand and base operations in America: One recent study found that 82 percent of employers hiring engineers in 2016 anticipated they would have serious trouble finding enough qualified workers.</p>
			</div>
			<div class='scroll__text2'>
			<div class='step2' data-step='8'>
			<h3>
			<div style="height: 100px;">
			</div>
			</h3>
			</div>
			<div class='step2' data-step='9'>
				<h3>Today’s immigrants are not just filling our workforce gaps, they are helping to educate the next generation of American workers.</h3>
				<p>The top occupation for recently-arrived legal immigrants in 2017 was postsecondary educator, or college professor. Recent immigrants, in fact, made up roughly one out of every 11 college professors in 2017. Immigrants have long played a major role in generating intellectual capital: More than three out of every four patents awarded to the top 10 most productive U.S. research universities in recent years have had at least one foreign-born inventor. Such patents often generate revenue for universities and spark the creation of new businesses and opportunities on U.S. soil. </p>
			</div>
			
		</div>
	</div>
</div>