<section class="article-content">
	<div class="intro">
		<div class="article__lede">
			<h1 class="h1__sans article__title-h">Portrait of Recent Immigrants  in 2017 (Ages 16 and Above)</h1>
			<p class="h2__sans article__sub-h"></p>
			<p class="article__date"><strong class="date--title">Date: </strong>{{copy.date}}</p>
		</div>
		<div class="mobile-img-header">
			<img src="assets/architectLabor.jpg">
		</div>
		<div class="article__body">
			<h3>Who are the immigrants coming to the United States legally?</h3>
			<p>President Trump recently <a href="https://www.nytimes.com/2019/05/15/us/politics/trump-immigration-kushner.html">announced</a> that he would like to dramatically change our immigration system, moving its primary focus from reuniting families to allowing only the most skilled immigrants to come to the United States. For those less familiar with our immigration system, his proposal obscures an important trend that has emerged in recent years: That today’s legal immigrants are already strikingly more educated than migrants were several decades ago. In 2017, for instance, more than three out of every five immigrants (ages 25+) had either a bachelor’s degree or graduate-level education. In 1980, just 15.7 percent did. </p>

			<p id="intro_last_p">Recent immigrants, however, are not just well educated. They also often bring skills U.S. employers desperately need as well. To understand how immigrants are already filling gaps in our workforce—from a shortage of medical professionals to a need for more engineers—we analyzed 2017 data on recent immigrants, or those who had arrived in the country within the last year. These new Americans prove to be incredibly well-positioned to fill persistently-vacant positions in our economy, allowing U.S. employers to expand and create jobs for Americans at all skill levels.</p>

		</div>
	</div>
	<div class="gradient-image">
		
	</div>
</section>
				</div>
			</section>
		</article>
	</div>
</div>

