<section class="article-content">
	<div class="intro">
		<div class="article__lede">
			<h1 class="h1__sans article__title-h">Portrait of Recent Immigrants  in 2017 (Ages 16 and Above)</h1>
			<p class="h2__sans article__sub-h"></p>
			<p class="article__date"><strong class="date--title">Date: </strong>{{copy.date}}</p>
		</div>
		<div class="mobile-img-header">
			<img src="assets/architectLabor.jpg">
		</div>
		<div class="article__body">
			<h3>***Short description goes here***</h3>
			<p>President Donald Trump has said several times since becoming president that he wants our immigration system to be based more on merit. For those less familiar with our immigration system, his comments obscure a very real trend that has emerged in recent years: That the migrants coming to our country through legal channels today are already strikingly more educated than generations past. In 2017, more than three out of every five of such immigrants (aged 25 and above) had either a bachelor’s degree or graduate-level education. In 1980, just 15.7 percent of all U.S. immigrants in that age band had that level of education. </p>

			<p id="intro_last_p">Recent immigrants, however, are not just well educated, they often bring skills U.S. employers desperately need as well. To understand how immigrants are addressing challenges in our workforce—from a shortage of medical professionals to a need for more engineers—we analyzed 2017 data on recent immigrants, or those who had arrived in the country within the last year. These new Americans prove to be incredibly well-positioned to fill persistently-vacant positions in our economy, allowing U.S. employers to expand and create jobs for Americans at all skill levels. </p>

		</div>
	</div>
	<div class="gradient-image">
		
	</div>
</section>
				</div>
			</section>
		</article>
	</div>
</div>

