<div class="main_story">
	<div id="pres_elections">
		<div class="pres_text">
			<h3>{{{copy.hedTextFive}}}</h3>
			<p>America’s electorate is rapidly changing, particularly in swing districts. Although districts will be redrawn in many states after 2020, the demographic changes are so significant and inevitable that both parties will need to adapt to them. This has serious implications for politicians who have relied on anti-immigrant messages to appeal to voters. <a href=https://research.newamericaneconomy.org/report/election-recap-2018-demographics-and-education-levels-in-flipped-districts target=_blank>As NAE has found before</a>, candidates will find it harder to convince increasingly diverse and college-educated electorates to vote for them with xenophobic platforms.</p>
			<p>Of course, our 2024 figures are not written in the stars. After all, immigrant voters could well reverse recent electoral trends and vote for more Republican candidates. However, this is unlikely without Republicans embracing more inclusive rhetoric and championing the kind of sensible immigration reforms that are <a href="https://www.washingtonpost.com/news/monkey-cage/wp/2019/01/11/americans-dont-want-trumps-border-wall-heres-what-they-think-should-happen-instead/?noredirect=on&utm_term=.7211b1fe722c" target="_blank">supported by the majority of Americans</a>.</p>
		</div>
		
	</div>
</div>